/* desktop */

.cabecalhoPrincipal .container {
    align-items    : center;
    display        : flex;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container {
    display        : flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    align-items    : center;
    display        : flex;
    justify-content: space-around;
    margin-right   : 5%;
    width          : 70%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    display          : flex;
    /* flex-direction: column;
    flex-wrap        : wrap; */
    flex-flow        : column wrap;
    height           : 250px;
}

.conteudoPrincipal-cursos {
    display  : flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    margin: 1%;
    width : 23%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n + 1) {
    margin-left: 0;
}

.videoSobre .container {
    display: flex;
}

.videoSobre-sobre {
    display       : flex;
    flex-direction: column;
    text-align    : center;
    flex-grow     : 2;
}

.videoSobre-sobre-list {
    flex-grow: 1;
}

.videoSobre-video {
    flex-grow: 1;
}


/* mobile */

@media (max-width: 768px) {

    .cabecalhoPrincipal-nav {
        flex-direction: column;
    }

    .cabecalhoPrincipal-nav-link-app {
        order: -1;
    }

    .cabecalhoPrincipal .container {
        align-items   : initial;
        flex-direction: column;
        text-align    : center;
    }

    .conteudoPrincipal-cursos-link {
        width: 100%;
    }

    .rodapePrincipal-navMap-list {
        height: auto;
    }

    .conteudoPrincipal-cursos {
        flex-direction: column;
    }

    .rodapePrincipal-patrocinadores .container {
        align-items   : center;
        flex-direction: column;
    }

    .rodapePrincipal-patrocinadores-list {
        margin: 0;
        width : 100%;
    }

    .rodapePrincipal-contatoForm {
        width: 100%;
    }

    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }

}